<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.test" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".LiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="test.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".activeandroid.ActiveAndroidActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <!-- <activity -->
        <!-- android:name=".recylerTest.RecylerViewActivity" -->
        <!-- android:label="@string/title_activity_recyler_view" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" > -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".recylerTest.headerrecylerview.HeaderRecylerViewActivity" -->
        <!-- android:label="@string/title_activity_header_recyler_view" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" > -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".activeandroid.ActiveAndroidActivity" -->
        <!-- android:label="@string/title_activity_active_android" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" > -->
        <!-- </activity> -->
        <activity
            android:name=".asynchttp.AsyncHttpActivity"
            android:label="@string/title_activity_async_http"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
